.fast-search {
    padding-bottom: 5rem;
        
    .container{
        justify-content: space-between;    
    }
    
    @keyframes shine{
        100%{left:125%}
    }
    
    .fast-item {
        position: relative;
        overflow: hidden;
        width: 48%;
        max-height: 230px;
        border: 1px solid #eaeaea;
        margin: 0 10px;
        overflow: hidden;
        &:before {
            background: rgba(0,0,0,0) linear-gradient(to right,rgba(19,157,255,0) 0,rgba(19,157,255,0.3) 100%) repeat scroll 0 0;
            content: "";
            display: block;
            height: 100%;
            left: -75%;
            position: absolute;
            top: 0;
            transform: skewX(-25deg);
            -webkit-transform: skewX(-25deg);
            -ms-transform: skewX(-25deg);
            -o-transform: skewX(-25deg);
            width: 50%;
            z-index: 2;
        }

        img {
            width: 100%
        }
    }
    .fast-item:hover:before {
        animation: shine 1.5s;
    }
}

.offers {
    @extend .flex-container;
    width: 100%;
    justify-content: space-around;

    .swiper-wrapper {
        height: auto;
    }
}