$color-footer: #282828;
.footer {
    padding: 20px 0;
    justify-content: space-between;
    color: #FFF;
    .title {
        margin-bottom: 15px;
        display: block;
        font-size: 1.2rem;
    }
    .cat-item,
    .menu-list {
        margin-bottom: 10px;
    }   
    .cat-item a,
    .menu-list-item {
        font-size: 0.8rem;
    }

    .copy {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding: 15px 10px;
    }
}

.footer-social-col {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
    .footer-social-list {
        margin: 0 10px;
        display: inline-block;
    }
}
@media (min-width: 900px) {
    .footer-col {
        width: 23%;
        margin: 10px;
    }
}

@media (min-width: 400px) and (max-width: 900px)  {
    .footer-col {
        width: 45%;
        margin: 10px;
    }
}

