.unavailable {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 15px;
    width: 100%;

    legend {
        font-size: 13px;
        padding-bottom: 10px;
    }
}
.row-unavailable {
    font-size: 12px;
    display: inline-block!important;
    vertical-align: middle;
    color: #5a5a5a;
}

.label-unavailable {
    width: 100%;
    display: block;
    font-size: 14px;
    color: #505050;
    vertical-align: middle;
    margin-bottom: 10px;
}


.wpcf7-form{
    margin: 3em auto;
    width: 40%;
    padding: 20px;
    border-radius: 4px;
    p {
        margin-bottom: 20px;
    }
    label {
        min-width: 100px;
        display: block;
        color: #5b5855;
        text-transform: lowercase;
        text-align: left;
        margin-bottom: 5px;
    }
    input {
        height: 48px;
        vertical-align: middle;
        border: 1px solid #e4e1df;
        border-radius: 3px;
        outline: 0;
        font-size: 18px;
        font-weight: 400;
        font-family: "Proxima Nova",sans-serif;
        letter-spacing: .025em;
        color: #5b5855;
        margin: 20px 0;
        width: 100%;
        width: 230px;
        padding: 5px 10px;
    }
    .wpcf7-form-control.wpcf7-submit {
        display: block;
        padding: 0 15px;
        height: 48px;
        border-radius: 3px 3px 4px 4px;
        border: 1px solid #e4e1df;
        border-bottom-width: 3px;
        line-height: 45px;
        font-size: 16px;
        letter-spacing: .01em;
        font-weight: 600;
        text-align: center;
        max-width: 170px;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
    }
}