.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    height: 100%;
    box-shadow: $shadow;
    position: relative;
    z-index: 10;
    
    .logo {
        width: 190px;
        img {
            width: 100%;
        }
    }

    .top {
        @extend .flex-container;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid #DDD;      
    }

    .search {
        position: relative;
        fieldset {
            position: relative;
        }
        .input-search {
            border: 0;
            padding: 5px;   
            padding-left: 10px;
            color: #868686;
            font-style: italic;
            width: 130px;
            height: 30px;
            background-color: transparent;
        }
        .input-submit {
            border: 0;
            background: transparent; 
            color: #868686;
            font-size: 14px;
        }
    }
    .cart {
        position:relative;
        margin-right: 20px;
        .mini-cart {
            visibility: hidden;
            z-index: -1;
            top: 50px;
            right: -22px;
            position: absolute;
            background-color: #FFF;
            padding: 15px 15px 5px;
            min-width: 300px;
            opacity: 0;
            box-shadow: 0 1px 4px 0px rgba(0,0,0,0.12), 0 1px 1px 0px rgba(0,0,0,0.1);
    
            .triangle-with-shadow {
                width: 38px;
                height: 19px;
                position: absolute;
                overflow: hidden;
                box-shadow: 0 16px 10px -17px rgba(0,0,0,.5);
                top: -18px;
                right: 10px;
            }
            .triangle-with-shadow:after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: #FFF;
                transform: rotate(45deg);
                top: 10px;
                left: 8px;
                box-shadow: -1px -1px 10px -2px rgba(0,0,0,.5);
            }
        }

    }
    .active .mini-cart {
        visibility: visible; 
        z-index: 10px;
        top: 35px;
        z-index: 10;
        z-index: 100;
        opacity: 1;
    }

    .mini-cart  {
        $btn_color_primary:   #004b81;
        $btn_color_secondary: #FFF;
        transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        table {
            width: 100%;
        }
        .arrend{
            display: inline-block;
            height: 30px;
            border-radius: 3px 3px 4px 4px;
            border-bottom-width: 3px;
            line-height: 30px;
            font-size: 10px;
            letter-spacing: 1px;
            font-weight: 600;
            text-align: center;
            max-width: 100px;
            width: 100%;
            margin: 0 auto;
            cursor: pointer;
        }
        .arrend.btn-buy{
            border: 1px solid btn_color_primary;
            background-color: $btn_color_primary;
            color: $btn_color_secondary;
        }
        .arrend.btn-cart{
            border: 1px solid #e4e1df;
            background-color: $btn_color_secondary;
            color: $btn_color_primary; 
        }
    }
}

.carrinho .countbadge { 
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
    height: 19px;
    line-height: 19px;
    position: absolute;
    right: -10px;
    top: -11px;
    width: 19px;
    background-color: #49c5ff;
}

.carrinho .cartEscondido .itens {
    width:20px;
}
 .carrinho .cartEscondido .produtoI{ width:100px; padding-top: 10px; padding-bottom: 10px;}
 .carrinho .cartEscondido .precoI{ width:70px; font-size: 13px}
 .carrinho .cartEscondido .fecharI{
    width:15px;
    cursor: pointer;
    font-size: 20px;
}

 .carrinho .cartEscondido .separa { height:1px; border-top:1px solid #fff; padding-bottom:10px; margin-top:10px;}
 .carrinho .cartEscondido  .inputI { 
    background-color:#fff;
    color:#666;
    text-align: right;
    font-size: 13px;
    margin: 10px 0;
    border-top: 1px dashed #DDD;
    padding-top: 10px;
}



@media(min-width: 600px) {

    .hidden-desktop {
        display: none;
    }

    .header-link {
        .menu-item {
            letter-spacing: 2px;
            font-size: .7rem;
            padding-left: 10px;

            &:not(:last-child) {
                padding-right: 10px;
                border-right: 1px solid #DDD;
            }
        }
    }
}

@media(max-width: 600px) {

    .search-mobile {
        position: relative;
    }

    .arrend.active,
    .search-form-mobile.active {
        display: block;
        visibility: visible !important;
        opacity: 1 !important;
        transform: scale(1);
    }
    .search-form-mobile {
        display: none;
        position: absolute!important;
        top: 28px;
        left: -78px;
        background-color: #FFF;
        width: 200px;
        padding: 5px 10px;
        box-shadow: 1px 1px 5px 1px #D8D8D8;
    }

    .hidden-desktop {
        .mini-cart {
            right: -9rem !important;  
            top: 30px !important;
            box-shadow: 1px 1px 4px 1px #CBCBCB;
        }
    }
    .hidden-mobile {
        display: none;
    }
    .header .top {
        border-bottom: 0;      
    }
    .topbar {
        display: none;
    }
    .header .logo {
        width: 160px;
    }

}











