.listing-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 100%;
    justify-content: space-between;
}
.listing {
    justify-content: space-between;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
    .wrapper-order .section-title {
        width: auto;
    }
    .product-listing {
        @extend .card-product;
        @extend .card-product-medium;
        .product-price {
            display: inline-block;
        }
    }

}

@media(max-width: 600px) {
    .listing{
        width: 100%;
        justify-content: center;
        .product-listing {
            width: 220px;
        }
    }
}

@media(min-width: 600px) {
    .listing .product-listing {
        width: 30%!important;
    }
}

@media(max-width: 1000px) {
    .listing {
        width: 100%;
    }
}
