    .loading4{
      width: 20px;
      height: 20px;
      transform-origin:center;
      animation:loading4-ani1 1s ease-in-out infinite;
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        position: fixed;
        z-index: 999;
    }
    .loading4 i,
    .loading4 i:before,
    .loading4 i:after{
      content: '';
      position:absolute;
      width: 20px;
      height: 20px;
      display: inline-block;;
      border-radius: 50%;
    }
    .loading4 i:before{
      transform:translate(0,-20px) scale(0.75);

    }
    .loading4 i:after{
      transform:translate(0,-35px) scale(0.5);
    }
    .loading4 i:nth-child(1){
      transform:translate(0,50px);
    }
    .loading4 i:nth-child(1),
    .loading4 i:nth-child(1):before,
    .loading4 i:nth-child(1):after{
      background: #ffb364;
    }
    .loading4 i:nth-child(2),
    .loading4 i:nth-child(2):before,
    .loading4 i:nth-child(2):after{
      background: #00a892;
    }
    .loading4 i:nth-child(2){
      transform:rotate(90deg) translate(0,50px);
    }
    .loading4 i:nth-child(3),
    .loading4 i:nth-child(3):before,
    .loading4 i:nth-child(3):after{
      background: #1f4c59;
    }
    .loading4 i:nth-child(3){
      transform:rotate(180deg) translate(0,50px);
    }
    .loading4 i:nth-child(4),
    .loading4 i:nth-child(4):before,
    .loading4 i:nth-child(4):after{
      background: #ff5954;
    }
    .loading4 i:nth-child(4){
      transform:rotate(270deg) translate(0,50px);
    }
    @keyframes loading4-ani1{
      80%,100%{
        transform:rotate(360deg);
      }
    }
