.animation-dropdown{transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;}
.f-nav { 
    z-index: 99;
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    background-color: #FFF;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    .search-mobile {
        display: none;
    }
    .search-fixed-menu {
        display: block;
        .input-search{
            width: 175px;
            height: auto;
            padding: 10px;
            background-color: whitesmoke;
        }
    }
} 

.search-fixed-menu{
    display: none;
}
.nav-top {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .container {
        justify-content: space-between;
        align-items: center;
    }
    .icon-header {
        font-size: 1.2rem;
        color: #736d6d;
        margin: 0 10px;
    }
    .menu-item {
        display: inline-block;
        padding: 20px 16px;
        position: relative;
    }

    a {
        display: block;
        text-align: center;
        font-size: .7em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }
}

.menu-mobile,
.menu-anchor {
    display: none;
}

.menu-desktop {
    margin-left: auto;
    margin-right: auto;
    .sub-menu {
        visibility: hidden;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 70px;
        z-index: 999;
        background-color: #FFF;
        min-width: 200px;
        text-align: left;
        transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        
        .menu-item {
            display: block;
        }
        .sub-menu {
            left: 250px!important;
            visibility: hidden!important;
            opacity: 0!important;
            top: 0!important;
        }
        .menu-item:hover .sub-menu {
            left: 200px!important;
            visibility: visible!important;
            opacity: 1!important;
        }
    }
    .menu-item:hover .sub-menu {
        top: 50px;
        visibility: visible;
        opacity: 1;
    }
    a {
        text-align: left;
    }
}

.menu-mobile {
    .sub-menu {
        display: none;
    }

    .active .sub-menu {
        display: block;
        background-color: #f9f9f9;
        font-size: 13px;
    }
}


@media(max-width: 600px) { 
    .menu-desktop {
        display: none;
    }
    .menu-anchor {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 10px;
        padding: 5px 10px;
    }
    
    .mobile-header {
        padding: 10px 20px;
        position: relative;
        border-bottom: 1px solid #f7f7f7;
        overflow: hidden;
        height: 90px;
        background-color: #FBFBFB;
        .menu {
            padding-left: 10px;
        }
        .logo-image {
            position: absolute;
            bottom: -2px;
            right: 15px;
        }
    }
    .menu-mobile {
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 220px;
        height: 100%;
        background-color: #FFF;
        transform: translateX(-220px);
        transition-duration: .2s;
        font-size: 13px;
        
        .active .sub-menu {
            display: block;
        }
        .sub-menu {
            display: none;
        }
        .menu-item {
            padding: 10px;
            margin: 10px 0;
            color: #6C6464;
            text-transform: uppercase;
            a {
                color: inherit;
            }
        }
    }

    .menu-active {
        .menu-anchor {
            transform: translateX(220px);
            box-shadow: $shadow;
            background-color: #FFF;
            box-shadow: -1px 5px 9px 3px #928787;
         }

        .menu-mobile {
            transform: translateX(0px);
            transition-duration: .2s;
        }
    }
}



@media(max-width: 600px) {
    .logo {
        margin: 0 auto;
    }

    .header-link,
    .search-fixed-menu {
        display: none;
    }
    .nav-top{
        .container {
            justify-content: center;
            padding: 5px 10px;
        }
        .search,
        .cart {
            margin: 0 15px;
        } 
    }
    
    .nav-top .cart, .nav-top .search {
        margin: 0; 
    }
    .f-nav .search-fixed-menu .input-search,
    .search-fixed-menu {
        .input-search{
            width: 130px;
        }
    }

}