.modal {
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.48);
    display: none!important;
    opacity: 0;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    opacity:0;
    transition: opacity 400ms ease-in;
}

.modal .container{
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #FFF;
    height: 80vh;
    width: 75%;
    overflow: auto;
    box-shadow: 6px 6px 29px -3px #b1b1b1;
    animation: showNav 550ms ease-in-out both;
}

@keyframes showNav {
  from {opacity: 0;}
  to {opacity: 1;}
}

.modal .section-product-detail {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.modal .sidebar {
    display: none;
}
.modal.active {
    display: block!important;
    opacity: 1;
}
.modal.active .close{
    display: block;
}
.close {
    display: none;
}
.modal .close {
    top: 5em;
    position: absolute;
    right: 7rem;
    z-index: 9999;
    border: 0;
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    color: #5a5a5a;
    line-height: 17px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    box-shadow: 1px 1px 16px -5px #545454;
}



.modal-payment {
    .modal-content {
        display: none;
        text-align: center;
        transition: opacity .4s ease-in;
        width: 500px;
        margin: 0 auto;
        min-height: 33vh;
        max-height: 33vh;
        background: #FFF;
        box-shadow: 0px 0px 11px -5px #726F6F;
        top: 2vh;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 40;
        &:before {
            z-index: 39;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #FFFC;
        }
    }
    .btn-continue {
        display: inline-block;
        padding: 0 15px;
        height: 48px;
        border-radius: 3px 3px 4px 4px;
        background: #fff;
        border: 1px solid #e4e1df;
        border-bottom-width: 3px;
        color: #f77274;
        line-height: 45px;
        letter-spacing: .01em;
        font-weight: 600;
        cursor: pointer;
        vertical-align: middle;
        margin: 10px;
    }

    .btn-finishi {
        color: #fff;
        background-color: #f77274;
        border-radius: 5px;
        padding: 10px 19px;
        line-height: 22px;
        border-bottom: 2px solid #ab2123;
        display: inline-block;
        vertical-align: middle;
    }
}

.modal-content.active {
    display: block;
}
