.order-title {
    margin-bottom: 1rem;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    background-color: #f7f7f7;
    color: #868686;
}
.data-client {
    margin-bottom:  10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    width: 100%;
    background-color: #FFF;
    .data-client-item {
        margin-bottom: 10px;
        color: #4c4c4c;
        font-size: .9rem;
        min-width: 20%;
        margin-left: 15px;
    } 
}

.container-order {
    justify-content: space-around;
}

.grid-order-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #DDD;
    
    dt {
        color: #5d5d5d;
    }
    dd {
        color: #7b7b7b;
        margin-left: 10px;
    }

    .clearfix {
        min-width: 22%;
        margin-bottom: 20px;
        margin: 0px 15px 20px;
        border-bottom: 1px solid #DDD;
    }
}
.container-order .cart {
     width: 100%;
     .float-right,
    .float-right p{
        color: #6b6b6b;
        margin-bottom: 10px;
        text-align: right;
    }
} 

@media(min-width: 600px) {

    .order-grid {
        width: 100%;
        font-size: 13px;
    }

}