.order-list {
    width: 100%;
    .order-list-item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: #FFF;
        border: 1px solid #DDD;
        padding: 15px;
        margin-bottom: 15px;
        justify-content: space-between;
        align-items: center;
        color: #585858;
        font-size: 0.8rem;
    }
    li {
        margin-bottom: 15px; 
    }
    strong {
        margin-bottom: 10px;
        color: #000;
        font-size: 13px;
    }
}
