.payment {
    width: 100%;
}

.infoPedido {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
.payment .infopedido {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FFF;
    border-top: 1px solid #1facff;
}

.payment legend{
    font-size: 18px;
    margin: 25px 0;
    width: 100%;
    padding: 8px;
    color: #f77274;
    border-left: 2px solid;
    float: left;
}

.payment fieldset {
    width: 40%;
    background-color: #f4f2f0;
    border-radius: 4px;
    border-top: 3px solid #f77274;
}

.buttons {
    margin-top: 1.5rem;
    width: 100%;
    text-align: center; 

    a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }
}
.btn-submit-purchase {
    color: #fff;
    background-color: #f77274;
    border-radius: 5px;
    padding: 10px 19px;
    line-height: 22px;
    border-bottom: 2px solid #ab2123;
}


.carregando {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.79);
    bottom: 0;
    left: 0;
    z-index: 9999;
}


