.container {
    @extend .flex-container;
}

.main-products {
    width: 75%;
    margin: 4em 0 2rem;
}
.section-product {
    @extend .flex-container;
    width: 100%;
    margin: 0 auto;
    max-width: 1120px;
    justify-content: space-between;
    padding-bottom: 2rem;
    
    .section-title {
        width: 100%;
        text-align: left;
        .title{
            max-width: 424px;
            font-weight: 200;
            color: #5b5855;
            width: 405px;
            display: inline-block;
            margin: 0px;
            padding-bottom: 20px;
            position: relative;
            font-size: 20px;
            text-transform: uppercase;
            border-bottom: 1px solid #e83356;
        }
    }
    .section-title.title-2 {
        text-align: left;
        font-size: 1rem;
        letter-spacing: 2px;

        .two-color {
            color: #ff6565;
        } 
    }
}

.card-product {
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02),0 3px 1px -2px rgba(0, 0, 0, 0.03),0 1px 5px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    margin-top: 2rem;
    &:hover .image{
        transform: scale(1.1);
    }
    .image {
        transition: all 0.3s;
        width: 100%;
    }

    .product-wrapper-image {
        display: block;
        overflow: hidden;
        max-height: 230px;
    } 
    .product-information {
        padding: 0 10px;
        margin: 10px;
    }
    .product-name,
    .price { font-size: .9em; }
    
    .product-name { 
        text-align: center;
        margin-bottom: 0; 
    }
    .product-link {
        color: inherit;
        font-weight: bold;
        font-size: .8rem;
    }
    .product-price {
        text-align: right;
        font-size: 18px;
        margin-top: 10px;
    }
    .old-price,
    .price{
        display: inline-block;
    }

    .old-price {
        text-decoration: line-through!important;
        color: #8D8181;
        font-size: 0.8rem;
    }

    .price-porcent-reduction {
        background: #ececec none repeat scroll 0 0;
        color: #535353;
        font: 400 11px/14px "Roboto";
        margin: 0 2px;
        padding: 0 5px 0 3px;
        vertical-align: text-top;
    } 
    .style-action {
        padding: 10px;
        margin: 0 auto;
        box-shadow: $shadow;
        font-size: 13px;
        margin: 0 10px;
        display: inline-block;
    }
    .action-product { 
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        transition: all 200ms ease-in;
        transform: scale(0); 
    }
    .btn-purchase {
        @extend .style-action;
        border-radius: 30px;
        width: 40%;
        padding: 15 35px;
    }
    .btn-watch,
    .btn-shopping {
        @extend .style-action;
        width: 35px;
        width: 35px;
        border-radius: 50%;
        margin: 0;
    }
}

.card-product:hover .action-product { 
    display: block;
    color: #FFF;
    transition: all 200ms ease-in;
    transform: scale(.9);
}


.card-product-small {
    width: 15%;
    border-radius: 3px;
}

.card-product-medium {
    width: 230px;
    margin-top: 2rem;
}

.btn-small {
    display: inline-block;
    padding: 0 15px;
    height: 33px;
    border-radius: 3px 3px 4px 4px;
    background: #fff;
    border: 1px solid #e4e1df;
    border-bottom-width: 3px;
    color: #f77274;
    line-height: 30px;
    font-size: 13px;
    letter-spacing: .01em;
    font-weight: 600;
    text-align: center;
    max-width: 170px;
    cursor: pointer;
}

@media(max-width: 600px) {
    .main-products {
        width: 100%;
        padding: 0 1em;
    }
    .section-product {
        justify-content: space-around;
    }
    .section-product .section-title {
        .title{
            font-size: .9rem;
            padding: 10px 20px;
            width: 100%;
        }
    }
} 

.flag {
    position: absolute;
    top: 30px;
    width: 90px;
    left: -10px;
    z-index: 1;
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 3px 0;
    &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid #000;
        border-left: 10px solid transparent;
        left: 0px;
        bottom: -10px;
    }
}

@media(max-width: 760px) {
    .main-products {
        width: 100%;
        padding: 0 1em;
    }
}

@media (max-width: 1000px) {
    .card-product-medium {
        width: 220px;
    }
}