.sidebar {
    width: 22%;
    padding: 10px;
    
    .detalhe:first-child() {
        margin-top: 25px;
    }
    .detalhe {
        width: 100%;
        margin: 15px auto;
        float: left;
    }
    .product-image-small {
        width: 60px;
        height: 60px;
        text-align: center;
        overflow: hidden;
        background-color: #FFF;
        float: left;
        margin-bottom: -1px;

        img {
            width: 100%;
        }
    }

    .preco {
        width: 60%;
        font-size: 14px;
        color: #666;
        margin-left: 10px;
        float: left;
        margin-top: 6px;
        h4 {
            margin-bottom: 16px;
        }
        a {
            color: inherit;
        }
    }
    .sidebar-title {
        border-bottom: 1px solid #e83356;
        padding-bottom: 15px;
        color: #5b5855;
        font-size: 1rem;
    }
}

.advertisement {
    float: left;
}
 .advertisement-item {
    margin: 25px auto; 
    display: block;
 }   

.advertisement-image {
    width: 100%;
}
@media(max-width: 1000px ) {
    .sidebar {
        display: none;
    }
}