.tabs { 
    margin: 30px auto;
    min-height:276px;
    background-color: #FFF;
    border: 1px solid #DDD;
    width: 100%;
    
    .tabs-item-list{
        background-color: #FFF;
        color: #222;
        display: inline-block;
        cursor: pointer;
        width: inherit;
        border-bottom: 1px solid #DDD;
    }

    .tabs-item { 
        cursor: pointer;
        font-size: .8em;
        padding: 10px 15px;
        line-height: 24px;
        float: left;
        font-weight: normal;
        text-transform: uppercase;
        margin-right: 1px;
        color: #d8d6d6;
        letter-spacing: 1px;
    }

}

.tabs-item.current{
    border-bottom: 2px solid #75b5f7;
    display: inherit;
    color: #868686;
    font-weight: normal;
    font-style: initial;
    font-size: .8rem;
    letter-spacing: 1px;
}

.tab-content{
    display: none;
    padding: 15px;

}

.tab-content.current{
    display: inherit;
    color: #7d7d7d;
    font-size: 13px;
    margin-top: 20px;
    h3 {
        margin-bottom: 1rem;
    }
}


