// Forms
.label-default {
    min-width: 100px;
    display: block;
    color: #5b5855;
    text-transform: lowercase;
    text-align: left;
    margin-bottom: 5px;
}
.input-default {
    padding: 10px;
    padding: 0 10px;
    height: 48px;
    vertical-align: middle;
    border: 1px solid #e4e1df;
    border-radius: 3px;
    outline: 0;
    font-size: 18px;
    font-weight: 400;
    font-family: "Proxima Nova", sans-serif;
    letter-spacing: 0.025em;
    color: #5b5855;
    -webkit-transition: box-shadow 0.2s linear 0s;
    transition: box-shadow 0.2s linear 0s;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
    width: 100%;
}

.btn-submit {
    display: block;
    padding: 0 15px;
    height: 48px;
    border-radius: 3px 3px 4px 4px;
    background: white;
    border: 1px solid #e4e1df;
    border-bottom-width: 3px;
    color: #f77274;
    line-height: 45px;
    font-size: 16px;
    letter-spacing: 0.01em;
    font-weight: 600;
    text-align: center;
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.btn-save {
	width: 100%;
    text-align: center;
    margin: 2rem 0;
}