/* ------------ NAV ------------ */

.nav-phone {
	position: relative;
	z-index: 30;
	margin: 0px 10px 20px 10px;
}
.nav-phone div {
	height:35px; line-height:35px;
	padding: 0px 16px;
	overflow: hidden;
	position: relative;
	background: #eee url('images/gradient.png');
	border-radius: 3px;
	font-weight:bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #333;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.nav-phone .seta { background:url(images/setaBottom.png) center right no-repeat; position:absolute; top:15px; right:10px; display:block; width:12px; height:6px; }
.nav-phone select {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor: pointer;
}

		
.show-desktop {display: block !important;}
.hide-desktop {display: none !important;}

	
	
/* ------------ IPAD ------------ */
@media only screen and (min-width: 781px) and (max-width: 1020px) {

.show-tablet {display: block !important;}
.hide-tablet {display: none !important;}

.container { max-width: 725px;margin: 0px 10px;}

#content #page #conteudo { float:none; width:725px; margin-left:0px; }


}




/* ------------ CELULAR ------------ */
@media only screen and (max-width: 780px) {

	.show-phone {display: block !important;}
	.hide-phone {display: none !important;}
	
	
	.container { max-width: auto; min-width: 300px; margin: 0px 10px;}
	
	#header { margin-top:15px; }
	#header .logo { padding-left:0px;margin-top:20px; padding-top:30px;float:none;  margin:0 auto;  }


	
    #content #page #conteudo { float:none; max-width: 100%; margin-left:0px; }
	
		
		
	#content #page #conteudo .produtosRecentes .produto  { text-align:center; border-right:none; border-bottom:1px solid #d3d3d3; width:100%; height:300px; float:none; overflow:hidden;margin:0px 0px 8px 0px; }
	
	
	
	#content #page h1 { margin:0px; }


#content #page .breadcrumbs { margin:0px;  }


}