/*
Theme Name: Loja Exemplo
Theme URI: http://lojaexemplo.wpstore.com.br
Author: REMIND
Author URI: http://remind.com.br
Description: Um exemplo de loja virtual usando o plugin de ecommerce para Wordpress.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
	
body {
	background:#fff url(images/body-bg.jpg) repeat-x;
	font-size:12px;
	font-family:"Calibri", Calibri, Arial, Helvetica, sans-serif;
	color:#1E1E1E;
}


a {
	color:#EC268C;
	text-decoration:none;
}
a:hover { color:#a2a2a2;  }

p { line-height:1.4em;  }

img { max-width:100%; }
input { border:none; }

.lf { float:left; }
.lr { float:right; }



h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 10px;
	font-family:'Open Sans', sans-serif;
	color:#666;
}

h1 {font-size: 26px;}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}

.clear, .fix { clear:both; }

.clearfix:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0; }

.botao { border:1px solid #d3d3d3; color:#666; display:block;  text-align:center; padding:0 5px; background:#fbfbfb url(images/button-bg.png) repeat-x 0 -24px; width:75px; margin:0 auto; height:23px; line-height:23px;  font-size:0.9em;  }
.botao:hover { background-position:0 0; color:#fff;}

.botao .mais { background:url(images/add-plus.png) no-repeat; display:block; float:right; margin:5px 2px 0 0; width:11px; height:11px; }

.arrend { border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		}


.container { max-width:950px; margin:0 auto; }

#header {   /*border:1px solid #d3d3d3;*/ min-height:155px; margin-top:35px; 
/*-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
	*/
/*
background-image: linear-gradient(bottom, #FFFFFF 85%, #eeeeee 100%);
background-image: -o-linear-gradient(bottom, #FFFFFF 85%, #eeeeee 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 85%, #eeeeee 100%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 85%, #eeeeee 100%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 85%, #eeeeee 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.85, #FFFFFF),
	color-stop(1, #eeeeee)
);
*/
}

#header .topo {  background:transparent;font-size:0.9em; padding:0px 0 10px 0; margin:0 20px; /*border-bottom:1px solid #d3d3d3;*/ }

#header .logo h1 { font-size:2.1em; }

#header .topo p{ font-size:1.2em;color:#000;}   

#header .logo { max-width:	466px; margin:0 auto; text-align:center; }
#header .logo  p{  width:90%; color:#000;margin:0 auto;margin-top:-10px;font-size:1.3em;}

#header .topoDir { float:right; width:65%; margin-right:10px;  padding-top:15px; }

#header .telefone {margin-right:35px;  margin-bottom:25px; float:right; }
#header .telefone span { display:block; font-weight:bold; line-height:30px; font-size:1.2em; height:32px; background:url(images/phone.png) no-repeat center left; padding-left:40px; }


#header  .search { float:left; background:url(images/search-tail.gif) repeat-x; width:410px; padding-top:4px; height:31px; }
#header  .search legend { padding-top:6px; text-transform:uppercase; font-family:'Open Sans', sans-serif; margin-left:10px; float:left;font-weight:bold; margin-bottom:5px; font-size:1.3em; color:#fff; }
#header  .search input[type="text"] {  margin:0 5px 0 10px;float:left; font-size:1em; padding-left:10px; background:#fff; width:230px; height:16px;  }

#header  .search input[type="submit"] { float:left;width:42px; height:27px; cursor:pointer; font-weight:bold;  }
#header  .search input[type="submit"]:hover { color:#fff; background:#7d7d7d;  }

#header .carrinho { cursor:pointer; position:relative; margin-left:2px;color:#fff;  float:left; width:170px;  padding-top:7px;  padding-bottom:5px; height:23px; background:#7d7d7d; }
#header .carrinho p { font-family:'Open Sans', sans-serif;  text-transform:uppercase;  font-weight:bold;padding-left:10px; font-size:1.3em; }
#header .carrinho p span { font-weight:bold; font-size:0.7em; text-transform:lowercase; font-family:Arial; }

#header  .carrinho .cartEscondido { display:none;position:absolute; top:33px; left:-40px; z-index:9999;width:190px;  padding:20px 10px; background:#7d7d7d;}
#header  .carrinho .cartEscondido .itens {
	width:20px;
	color:#EC268F;
}
#header  .carrinho .cartEscondido .produtoI{  width:100px; }
#header  .carrinho .cartEscondido .produtoI a{  color:#efefef; text-decoration:underline; }
#header  .carrinho .cartEscondido .precoI{ font-weight:bold; width:70px;}
#header  .carrinho .cartEscondido .fecharI{
	width:15px;
	color:#EC268F;
	font-weight:bold;
	font-family:'Open Sans', sans-serif;
}

#header  .carrinho .cartEscondido .separa { height:1px; border-top:1px solid #fff; padding-bottom:10px; margin-top:10px;}

#header  .carrinho .cartEscondido a.botao{ float:left; margin:5px 10px 5px 0; }

#header  .carrinho .cartEscondido  .inputI { padding:5px;background:#fff; color:#666; margin-bottom:5px; }



#header .access {  position:relative; background:url(images/tail-menu.gif) repeat-x;  margin-top:36px; border-top:1px solid #d3d3d3;text-transform:uppercase;   }


#header .access .menu {   }

#header .access .menu li { float:left; border-right:1px solid #d3d3d3; }

#header .access .menu li:hover{  }

#header .access .menu li a { display:block; float:left;  padding:12px 20px;  background:url(images/tail-menu.gif) repeat-x;  color:#5B5A58; font-weight:bold;  }
#header .access .menu li a:hover {
	color:#EC268F;
	background:url(images/top-menu-a.gif) repeat-x;
}


#header .access .menu li#menu-item-17 {  float:right; border:none; border-left:1px solid #d3d3d3;  }
#header .access .menu li#menu-item-17  a  {
	color:#EC268F;
}


#header .access .menu li.current-menu-item  { background:url(images/top-menu-a.gif) repeat-x;}

#header .access .menu li.current-menu-item   a{
	color:#EC268F;
}


#header .access .menu li ul.sub-menu  {   display:none; position:absolute; border:1px solid #d3d3d3; z-index:9999; top:34px;   max-width:300px;  padding-bottom:10px;

}
#header .access .menu li ul.sub-menu  li { float:none; border:none; border-bottom:1px solid #d3d3d3; background:none;  width:150px;

}
#header .access .menu li ul.sub-menu li a { float:none;height:20px;padding:10px 0px 5px 10px;  
background:url(images/top-menu-a.gif) repeat-x;
 }
#header .access .menu li ul.sub-menu  li:last-child {  border:none; }



/* #header */






#content {  }





#content #page { padding-top:10px; }


#content #page .contentPage {  position:relative; }


#content #page #conteudo { float:right; width:710px; margin-left:10px; }

#content #page #contentIn p { margin:10px 0 20px 0; line-height:1.4em; }

#content #page #contentIn ul li { margin-bottom:10px; line-height:1.4em; }

#content #page #conteudoFull { max-width:950px;  border-top:1px solid #fff; }

#content #page #conteudoFullPage { padding:30px;}


#content #page #conteudo #contentIn { background:#fff;  margin:0px 0 20px 0; }




#content #page h3.subtitulo {
	font-weight:bold;
	text-transform:uppercase;
	font-size:1.6em;
	color:#EC268F;
	margin:35px 0 1px 0;
	padding:10px 20px;
}



#content .galeria { margin-bottom:50px;position:relative;  border:1px solid #d3d3d3;  }

#content .galeria h2 { position:absolute; bottom:40px; left:0px; color:#fff; text-transform:uppercase; font-size:0.9em;   border-bottom:1px dotted red;border-top:1px dotted red; }

#content .galeria img { }


/* .galeria */


#content #page #conteudo .produtosRecentes {background:#fff; border:1px solid #d3d3d3;   padding:20px 0; margin-bottom:20px; }

#content #page #conteudo .produtosRecentes .produto  { position:relative; border-right:1px solid #d3d3d3; width:160px; height:300px; float:left; overflow:hidden;margin:0px 8px 8px 8px; }

.produto .specialPrice  { width:46px; height:46px; display:block; background:url(images/specialPrice.png) no-repeat; position:absolute; top:0px; right:5px; }

#content #page #conteudo .produtosRecentes .produto img { }
#content #page #conteudo .produtosRecentes .produto .desc { height:120px;overflow:hidden; padding:0 10px; }

#content #page #conteudo .produtosRecentes .produto .preco { height:40px; overflow:hidden;  }

#content #page #conteudo .produtosRecentes .produto h4 { height:45px; margin-bottom:5px; ; overflow:hidden;font-size:0.9em;}
#content #page #conteudo .produtosRecentes .produto p { }
#content #page #conteudo .produtosRecentes .produto a {  color:#0c233d; }
#content #page #conteudo .produtosRecentes .produto .price {
	color:#EC268F;
	font-size:1.4em;
	font-weight:bold;
}

#content #page #conteudo .produtosRecentes .produto .priceDesc { color:#aaa;  font-size:1em; }


#content #page #conteudo  .wp-pagenavi  { margin:20px 0px; }

/* #conteudo */




#content #sidebar {  float:left; width:230px; padding-bottom:30px;  }

#content #sidebar h3 { margin-bottom:1px;background:url(images/category-heading.gif) repeat-x; font-weight:bold; padding:0 20px; height:40px; line-height:40px; font-size:1.4em; text-transform:uppercase; color:#fff;  }


#content #sidebar .menuSidebar {   border:1px solid #d3d3d3; padding:0 0 10px 0; background:#fff; }


#content #sidebar .menuSidebar .cats { padding-top:5px; }

#content #sidebar .menuSidebar .cats li { cursor:pointer; padding:10px 10px; margin:0 15px; border-bottom:1px solid #d3d3d3; text-transform:uppercase; line-height:1.3em; }
.setaMais {  background:url(images/setaBusca.png) no-repeat 180px 12px;  }
#content #sidebar .menuSidebar .cats li:first-child{ }
#content #sidebar .menuSidebar .cats li:last-child { border-bottom:none; }

#content #sidebar .menuSidebar .cats li a {  color:#735a58;  }
#content #sidebar .menuSidebar .cats li a:hover {
	color:#EC268E;
}
#content #sidebar .menuSidebar .cats li.current-cat a {
	color:#EC268F;
	font-weight:bold;
}
#content #sidebar .menuSidebar .cats li.current-cat a:hover {  color:#d62626; }
 
#content #sidebar .menuSidebar .cats li ul.children { display:none; padding:5px 0 5px 0;  }
#content #sidebar .menuSidebar .cats li ul.children li { padding:5px 10px; margin:0 10px; text-transform:capitalize; font-size:0.9em; border:none; background:url(images/bullet_arrow.png) 0 8px  no-repeat; }
#content #sidebar .menuSidebar .cats li ul.children li a{ color:#735a58; font-weight:normal; background:none;  }

#content #sidebar .menuSidebar .cats li ul.children li.current-cat a { color:#d62626; font-weight:bold; }

#content #sidebar .banner { margin:20px 0 40px 0; border:1px solid #d3d3d3; }

#content #sidebar .facebook { margin:10px 0; }


#content #sidebar .acessar { margin-top:20px; text-align:center; margin-left:10px; }

#content #sidebar .acessar img { display:block; margin:15px auto;}


#content #sidebar .siteSeguro {margin-top:60px; text-align:center; margin-left:10px;}



#content #sidebar .destaque { margin:20px 0 0 0; background:#fff; }
#content #sidebar .destaque .detalhes { border:1px solid #d3d3d3; padding:10px; }
#content #sidebar .destaque .detalhe { border-bottom:1px solid #d3d3d3;  }
#content #sidebar .destaque .detalhe:last-child { border-bottom:none; }
#content #sidebar .destaque .detalhes img { width:80px; float:left; display:block;margin-top:10px; }
#content #sidebar .destaque .detalhes .preco { float:right; width:120px;   }
#content #sidebar .destaque .detalhes .preco h4 { font-size:0.8em;margin-top:10px;}
#content #sidebar .destaque .detalhes .preco .normal{ color:#B2B2B1; text-decoration:line-through; }
#content #sidebar .destaque .detalhes .preco .desconto{ color:#DA2322; }
#content #sidebar .destaque .detalhes .preco .precoDesconto{ color:#DA2322; font-weight:bold;display:block;}
#content #sidebar .destaque .detalhes .botao { margin:10px 0 20px 0px; }
#content #sidebar .destaque .detalhes .botao:hover { color:#333; }
/* #sidebar */





#content #page .titulo {  }


#content #page .editLink { position:absolute; top:5px; right:10px; }

#content #page h1 { text-transform:uppercase;  color:#d62626; border:1px solid #d3d3d3; padding:7px 20px;  font-weight:bold; font-size:1.5em;}
.single #content #page h1{  text-transform:capitalize;   width:380px;float:right; color:#333; padding:5px 0 15px 0;  border:none; border-bottom:1px solid #d3d3d3; background:none; font-size:1.7em; }

#content #page h1 .qtdProdutos { float:right; color:#333; text-transform:capitalize; font-family:Arial; font-size:0.65em; padding-top:5px;font-weight:normal;}

#content #page .breadcrumbs { background:url(images/text-box.gif) repeat-x; border:1px solid #d3d3d3; margin:0px 0 10px 0;  padding:7px 20px; color:#666;   }
#content #page .breadcrumbs ul li { float:left; margin-right:10px;  border-right:1px dotted #dedede; padding-right:10px;}
#content #page .breadcrumbs ul li:last-child { border-right:none; }
#content #page .breadcrumbs a { color:#999;  }
#content #page .breadcrumbs strong {  color:#999; }

#content #page .separa { border-bottom:1px solid #d3d3d3; height:1px; }


#content #page  .msgCat { margin:20px 0; background:#f8f8f8; padding:20px;  border-bottom:1px solid #d3d3d3; border-top:1px solid #d3d3d3; }
#content #page  .msgCat a { color:#000; text-decoration:underline; }

#content #page  .ordenar { float:left; width:300px; }

#content #page  .mudarListagem { float:right; width:60px; }
#content #page  .mudarListagem ul{  }
#content #page  .mudarListagem ul li{ cursor:pointer; float:left; width:25px; height:24px; margin-left:5px; }
#content #page  .mudarListagem ul li.col { background:url(images/product_view_grid.png) no-repeat;   }
#content #page  .mudarListagem ul li.col:hover {  background-position:0 -24px; }

#content #page  .mudarListagem ul li.row { background:url(images/product_view_list.png) no-repeat;   }
#content #page  .mudarListagem ul li.row:hover { background-position:0 -24px; }

#content #page  .mudarListagem ul li.ativo { background-position:0 -24px;  }




#content #page  .listagem { background:#fff;     padding:10px 0;  margin:0 20px; }
.category #content #page  .listagem {   border:1px solid #d3d3d3;   margin:20px 0; }


#content #page .listagem .produto {  position:relative;border:1px solid #d3d3d3;  text-align:center;width:160px; height:270px; float:left; overflow:hidden;}
.category #content #page .listagem .produto { border:none;  width:230px; height:360px;border-right:1px solid #d3d3d3; }


#content #page .listagem  .produto .preco { height:40px; overflow:hidden;  }

#content #page .listagem .produto .desc {  height:120px;overflow:hidden; }
#content #page .listagem .produto h4 {  height:35px; margin-bottom:5px; font-weight:bold; overflow:hidden;  font-size:0.9em; }
#content #page .listagem .produto h4 a { color:#666;   }

#content #page .listagem .produto p { }

#content #page .listagem .produto .price {
	color:#EC268F;
	font-size:1.4em;
	font-weight:bold;
}

#content #page .listagem .produto .priceDesc { color:#d3d3d3;  font-size:0.9em; }


#content #page  .produtosRelacionados .listagem  .produto { margin:0 5px 5px 0; }


/* .listagem */




#content #page .listagem_list  { display:none; background:#fff;     padding:10px 0; border:1px solid #d3d3d3;   margin:20px 0;  }

#content #page .listagem_list .produto-horiz { padding-top:20px; margin:0 20px; position:relative;height:220px;border-bottom:1px solid #d3d3d3; }

#content #page .listagem_list .produto-horiz  .imagem { float:left;  }

#content #page .listagem_list .produto-horiz  .tituloResumo { border-right:1px solid #d3d3d3; padding:0 20px; margin:0 20px 0 0; float:left; height:180px; width:280px; }


#content #page .listagem_list .produto-horiz h4 {   margin:15px 0; font-weight:bold; overflow:hidden;  font-size:0.9em; }
#content #page .listagem_list .produto-horiz h4 a { color:#666;   }


#content #page .listagem_list .produto-horiz .preco { padding-top:10px; width:	120px; float:left; overflow:hidden;  }
#content #page .listagem_list .produto-horiz .preco .botao {margin:20px 0; }

#content #page .listagem_list .produto-horiz .price {
	color:#EC268F;
	font-size:1.4em;
	font-weight:bold;
}
#content #page .listagem_list .produto-horiz .priceDesc { color:#d3d3d3;  font-size:0.9em; }

/* .listagem2 */




#content #page .entry-content { position:relative;  }

 
#content #page .entry-content p { margin:20px 0 20px 0; }
.single #content #page .entry-content p { margin:10px 0; }


 #content #page .entry-content ul { margin-left:20px; margin-bottom:10px;}
.page  #content #page .entry-content ul li { list-style-type:disc;  } 
#content #page .entry-content h3 { font-size:1.4em; margin-bottom:20px;  color:#666; font-size:1.1em;}


#content #page .entry-content  ul.galeriaThumb li { float:left; margin-top:10px; margin-right:20px; border:1px solid #ccc; padding:3px; }
#content #page .entry-content   .midias {  background:url(images/text-box.gif) repeat-x bottom; border-top:1px solid #d3d3d3; padding:10px;border-bottom:1px solid #d3d3d3;   position:relative; height:20px;  margin:20px 0 20px 0px;  }

#content #page .entry-content  .imagem {  border:1px solid #d3d3d3;overflow:hidden;height:auto;float:left; }

#content #page  .midias  { margin:20px 0 10px 0; }
#content #page  .midias .botaoCurtir { float:left; width:90px;  }
#content #page  .midias .botaotweet {  float:left; width:110px; }
#content #page .midias .botaomais {  float:left;  width:80px; margin-top:-2px; }

#content #page .contato { }
#content #page .contato .cContato { border:1px solid #d3d3d3;   background:url(images/text-box.gif) repeat-x bottom; padding:20px;}
#content #page .contato .cContato  h4{ text-transform:uppercase; font-size:1.1em;}
#content #page .contato .cContato { }
#content #page .contato .cContato { }

.entry-content .produtoEsq { float:left; width:310px; overflow:hidden;  margin-top:10px; }


/* .produtoEsq */


.carreg{ display:block;  width:100%; height:16px; text-align:center; background:url(images/zoomloader.gif) no-repeat center center; }

.entry-content .produtoDir {float:right; width:380px;   }


.entry-content .produtoDir h2 { color:#444c57;  padding-left:20px;font-size:2em;  margin-bottom:10px; height:46px; overflow:hidden; }

.entry-content .produtoDir .det { padding-bottom:25px; margin-bottom:25px;margin-right:35px; border-bottom:1px dotted #dedede; }
.entry-content .produtoDir .det .fav { margin-left:20px; background:url(images/favoritos.jpg) no-repeat center left; float:left; margin-right:20px; padding-left:20px; color:#777; cursor:pointer; }
.entry-content .produtoDir .det .add { margin-left:20px; background:url(images/addDesejo.jpg) no-repeat center left; float:left; margin-right:20px; padding-left:20px; color:#777d; cursor:pointer; }

.entry-content .produtoDir .opcoes { float:right; width:220px;  padding:10px 20px 0 20px;   }
.entry-content .produtoDir .opcoes dt { color:#cacaca;  margin-bottom:5px; }
.entry-content .produtoDir .opcoes dd { color:#848484; margin-bottom:15px;  font-size:1.4em;}

.entry-content .produtoDir .botao { margin:0; font-size:0.7em; }

.valorProd {margin-bottom:15px;margin-top:-8px;float:left;width:160px; }


.qtdProd { float:right; width:120px; font-size:0.85em;  }
.qtdProd  label { float:left; margin-top:4px; }
.qtdProd input[type="text"] { height:12px;margin-left:3px;width:30px; float:left;}

.boxComprar {  height:70px; }

.servicosLogos  { margin-top:30x; }

.servicosLogos img { margin-left:15px; }

.downloads { border-top:1px solid #aaa; color:#0e3151;  }
.downloads  li{ margin:10px 0; padding:10px 0; border-bottom:1px solid #aaa; }
.downloads li a { color:#0e3151;   }


.entry-content .prod {border:1px dotted #dedede;  background:#f7f7f7; }
.entry-content .price {  color:#546988; font-size:1.6em; }


.entry-content .prod .priceDesc { color:#FF0000;  font-size:1.6em; }



.entry-content .produtoEsq .addLista { margin-left:20px }




.entry-content .meios {
	padding:10px;
	margin:10px 0px 20px 0;
	border:1px dotted #dedede;
	
}
.entry-content .meios span { color:#546988;  }
.entry-content .meios strong { color:#546988; font-weight:normal; }



.qtdProdInput { float:left; margin-right:5px; width:30px; }
.setas { float:left; }
.setaUp { cursor:pointer; width:15px; height:12px; background: url(images/setaUp.jpg) 0 0 no-repeat; }
.setaUp:hover { background: url(images/setaUp.jpg) 0 -12px no-repeat; }

.setaDown {  cursor:pointer;width:15px; height:12px; background: url(images/setaDown.jpg) 1px 0 no-repeat; }
.setaDown:hover { background: url(images/setaDown.jpg)  1px -12px no-repeat; }


#janela { display: none; position: fixed; top: 0%;left: 0%;width: 100%; height: 100%;background: url(images/trans.png);	z-index:1001;	 }										   
#janela .popup { background-color:#fff; border: 1px solid #ddd; padding: 15px;	 overflow:auto; z-index:1002;  left:50%; margin:-30px 0 0 -110px; top:50%; width:220px; height:60px; position:absolute;}

#janela .popup .loading { background:url("images/ajax-loader2.gif") no-repeat top left;   z-index:9999; height:60px; }

#janela .popup .loading span { font-size:1.6em; text-transform:uppercase; display:block;  padding-left:70px; padding-top:20px; }
   

.entry-content .resumo { background:url(images/text-box.gif) repeat-x bottom; min-height:60px; padding:10px 0 5px 0; margin:20px 0;  border:1px solid #d3d3d3; }

.share { margin-left:0px; }
.share li {  margin-left:0px;margin-bottom:10px;}
.share li a { color:#666; padding-left:20px; }
.share li a:hover {  color:#d62626; }
.share .face { background:url(images/icon_fb.png) no-repeat center left; }
.share .twit { background:url(images/icon_mail.png) no-repeat center left; }
.share .prin { background:url(images/icon_print.png) no-repeat center left; }

/* .produtoDir */

.tags { margin:30px 0 15px 0; }



#content #page .checkout p { margin:10px 0 20px 0; }


.fluid50 {
		width: 50%;
		float: left;
		margin-bottom: 40px;
	}
	
	.fluid50 .content p { padding-right:20px; }
	
	
	
/*
------------ FORM INLINE ------------
*/
	
	.form-inline h2 {margin-bottom: 20px;}
	.form-inline .field {padding-bottom: 20px;}
	.form-inline .field label {
		display: block;
		padding-bottom: 3px;
		font-weight: bold;
	}
	.form-inline .field input[type=text],
	.form-inline .field textarea {
		display: block;
		border: 1px solid #dcdcdc;	
		border-top-color: #ccc;
		border-bottom-color: #e5e5e5;
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05) inset;
		-moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05) inset;
		-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05) inset;
		padding: 5px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}
	.form-inline .field input[type=text] {
		height: 16px;
		width: 200px;
		max-width: 90%;
	}

	
	
	
	/*
------------ PAGINATION ------------
*/

.pagination {
	margin: 0 10px 40px 10px;
	padding: 10px;
	border-top: 1px solid #f2f2f2;
	overflow: hidden;
}
.pagination .links {float: left;}
.pagination .links * {padding: 0px 3px;}
.pagination .result {float: right;}


/*
------------ ORDER LIST ------------
*/
	
	.order-list {margin: 0px 10px 40px 10px;}
	.order-list li {
		overflow: hidden;
		border-bottom: 1px solid #f2f2f2;
		padding: 0px 10px 15px 10px;
		margin-bottom: 15px;
	}
	.order-list li div {
		float: left;
		width: 33.3%;
	}
	.order-list .pagination {
		margin: -15px 0px 20px 0px;
		border: none;
	}

	
	
/*
------------ CHECKOUT ------------
*/
	
	.checkout {padding: 0px 10px;}
	.checkout .block-head {
		background-color: #edf0f2;
		border-bottom: 1px solid #d4d7d9;
		font-size: 12px;
		font-weight: bold;
		line-height: normal;	
		padding: 10px 16px;
      }
	
	.checkout .block-headl {
		background-color: #edf0f2;
		border-bottom: 1px solid #d4d7d9;
		font-size: 12px;
		font-weight: bold;
		line-height: normal;	
		padding: 10px 16px;
	}
	
	.checkout .block-content {padding: 20px 0px;}
	
	.checkout .block-contentl {padding: 20px 0px;}
	
	.checkout .fluid50 {margin-bottom: 20px;}

/*
------------ FORM ELEMENTS ------------
*/

	input[type=text],
	input[type=password],
	textarea {
		display: block;
		border: 1px solid #dcdcdc;	
		border-top-color: #ccc;
		border-bottom-color: #e5e5e5;
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05) inset;
		-moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05) inset;
		-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05) inset;
		padding: 5px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}
	input[type=text],
	input[type=password] {
		
		max-width: 90%;
	}

	
/*
------------ CHECKOUT ------------
*/
	
	.checkout {padding: 0px 10px;}
	.checkout .block-head {
		background-color: #edf0f2;
		border-bottom: 1px solid #d4d7d9;
		font-size: 12px;
		font-weight: bold;
		line-height: normal;	
		padding: 10px 16px;
		cursor: pointer;
	}
	.checkout .block-content {padding: 20px 0px;}
	.checkout .fluid50 {margin-bottom: 20px;}



/*
------------ TABLE ------------
*/

	.table {margin-bottom: 20px;}
	.table td,
	.table th {padding: 10px 16px;}
	.table th {text-align: right;}
	.table thead td,
	.table thead th {
		background-color: #edf0f2;
		text-align: center;
		border-bottom: 1px solid #d4d7d9;
		font-size: 12px;
		font-weight: bold;
		line-height: normal;
	}
	.table tbody td,
	.table tbody th {border-bottom: 1px solid #eee;}
	.table tfoot td,
	.table tfoot th {border-top: 1px solid #d4d7d9;}
	
	
	 table#tabelaParcelamento{border-left:1px solid #ccc; border-right:1px solid #ccc;  color:#222;}

                    table#tabelaParcelamento td { border:1px solid #ccc;   padding:5px; text-align:center;}

                    table#tabelaParcelamento th { border-left:1px solid #ccc; border-top:1px solid #ccc;   padding:5px; text-align:center;}

					


.float-right {float: right !important;}
	.float-left {float: left !important;}
	
	.ta-left {text-align: left !important;}
	.ta-right {text-align: right !important;}
	.ta-center {text-align: center !important;}



	.buttons .left {float: left; text-align: left;}
	.buttons .right {float: right; text-align: right;}
	.buttons .center {text-align: center; margin-left: auto; margin-right: auto;}
	
	
	
	.va-top {vertical-align: top !important;}
	.va-middle {vertical-align: middle !important;}
	.va-bottom {vertical-align: bottom !important;}
	
	.button { display:inline; color:#fff; cursor:pointer;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding:5px 10px; 
background:#868686;
	}
	.button:hover { color:#222; }

	.button-alt {
		color: #fff;
		text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
		background-color: #0E2842;
		-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding:10px; 
	}
	.button-alt:hover { color:#fcca00; }

form.wpcf7-form{ width:550px; margin:20px auto;  margin-top:30px; }

form.wpcf7-form label { display:block; float:left; width:150px; margin:5px 0 5px 00px; }

form.wpcf7-form span.wpcf7-form-control-wrap{ width:300px; float:left;  }

form.wpcf7-form textarea { height:200px; border:1px solid #ccc; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}

form.wpcf7-form input[type="text"] {   height:20px; border:1px solid #d3d3d3; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; padding-left:5px; }


form.wpcf7-form input[type="submit"]  { margin-left:150px; border:1px solid #d3d3d3; color:#999; display:block;  padding-left:10px;background:url(images/button-bg.png) repeat-x 0 -24px; width:83px; height:27px; line-height:27px;  font-size:0.9em;  cursor:pointer; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }
form.wpcf7-form input[type="submit"]:hover {  background-position:0 0; color:#fff; }





/* #content */


#sdddUsuario { width:30px; float:left; }
#sdddUsuarioCel { width:30px; float:left; }
#stelefoneUsuario { width:140px;float:left; margin-left:3px; }
#stelefoneUsuarioCel { width:140px;float:left; margin-left:3px; }

.btLogin, .btForgotPass,.btNovoCadastro { cursor:pointer; margin:20px 0 10px 0;  color:#d02130; font-size:0.9em; background:url(images/seta2.png) center left no-repeat; padding-left:15px;}

#footer { }

#footer .containerFooter { border:1px solid #d3d3d3; background:#f8f8f8 url(images/text-box.gif) repeat-x; }

#footer .free { margin-left:10px; padding:13px 25px; background:url(images/text-block.png) no-repeat center left; }
#footer .free span { font-weight:bold; text-transform:uppercase; color:#d62626; }

#footer .separa { border-bottom:1px solid #d3d3d3; height:1px; }

#footer .linksF { margin:10px 10px 10px 20px; float:left; width:150px;  }
#footer .linksF ul { }
#footer .linksF ul li { font-size:0.9em; margin-bottom:5px; }
#footer .linksF ul li ul.children { padding-top:5px; }
#footer .linksF ul li ul.children li { ont-size:0.9em; border:none;padding:5px 10px; margin:0 10px; background:url(images/bullet_arrow.png) 0 8px  no-repeat; }


#footer .linksF h5 { margin-bottom:15px; text-transform:uppercase; font-size:1.1em; color:#5B5A58; }

#footer .linksF  p { font-size:0.9em; }

#footer .midias li { cursor:pointer;float:left;margin-top:10px; margin-right:5px;}

#footer .midias li a { display:block;  width:30px; height:30px;}

#footer .midias li.facebook a { background:url(images/facebook.png) no-repeat; }
#footer .midias li.twitter a {background:url(images/twitter.png) no-repeat; }


#footer .midias li.facebook a:hover,
#footer .midias li.twitter a:hover { background-position:0 -30px ; }


#footer .copy { padding:20px 0; font-size:0.9em; color:#656463;  }



select.postform { width:100%; height:35px; }

.carregando { float:left; background:url(images/ajax-loader.gif) no-repeat; width:20px; height:20px; margin:13px 10px; display:none;}

#CalcularDesconto {}

.spanPedidoId {
	color:#C00;	
}