﻿
	
body {  background:#fff url(images/body-bg.jpg) repeat-x; font:normal 12px "Arial", Arial, Helvetica, sans-serif; color:#999; }


a { color:#EC268F;  }
a:hover { color:#a2a2a2;  }


h1, h2, h3, h4, h5, h6 {

	font-family:'Open Sans', sans-serif;
	color:#666;
}

.botao { border:1px solid #d3d3d3; color:#666; background:#fbfbfb url(images/button-bg.png) repeat-x 0 -24px; }
.botao:hover { color:#fff;}


#header {   background:#fff; border:1px solid #d3d3d3;   }


#header  .search { float:left; background:url(images/search-tail.gif) repeat-x; }
#header  .search legend { color:#fff; }
#header  .search input[type="text"] {  background:#fff; }

#header  .search input[type="submit"] {   }


#header .carrinho {color:#fff; background:#7d7d7d; }


#header  .carrinho .cartEscondido {  background:#7d7d7d;}
#header  .carrinho .cartEscondido .itens {
	color:#EC268F;
}

#header  .carrinho .cartEscondido .produtoI a{  color:#efefef; }
#header  .carrinho .cartEscondido .fecharI{
	color:#EC268F;
}

#header  .carrinho .cartEscondido .separa { border-top:1px solid #fff; }


#header  .carrinho .cartEscondido  .inputI { background:#fff; color:#666;  }



#header .access {  background:url(images/tail-menu.gif) repeat-x;  border-top:1px solid #d3d3d3; }


#header .access .menu li { float:left; background:url(images/tail-menu.gif) repeat-x; border-right:1px solid #d3d3d3; }

#header .access .menu li:hover{  background:url(images/top-menu-a.gif) repeat-x; }

#header .access .menu li a {  color:#5B5A58;  }
#header .access .menu li a:hover {
	color:#EC268F;
}


#header .access .menu li#menu-item-17 {   border-left:1px solid #d3d3d3;  }
#header .access .menu li#menu-item-17  a  {
	color:#EC268F;
}


#header .access .menu li.current-menu-item  { background:url(images/top-menu-a.gif) repeat-x;}

#header .access .menu li.current-menu-item   a{ color:#EC268F; }


#header .access .menu li ul.sub-menu  { background:#072652; }




/* #header */


#content #page h3.subtitulo {
	color:#EC268F;
	background:url(images/text-box.gif) repeat-x;
	border:1px solid #d3d3d3;
}




/* .galeria */


#content #page #conteudo .produtosRecentes {background:#fff; border:1px solid #d3d3d3;   }

#content #page #conteudo .produtosRecentes .produto  {  border-right:1px solid #d3d3d3;  }


#content #page #conteudo .produtosRecentes .produto a {
	color:#00B0F0;
}
#content #page #conteudo .produtosRecentes .produto .price {
	color:#EC268F;
}

#content #page #conteudo .produtosRecentes .produto .priceDesc { color:#aaa;  }


/* #conteudo */




#content #sidebar h3 { background:url(images/category-heading.gif) repeat-x; color:#fff;  }


#content #sidebar .menuSidebar {   border:1px solid #d3d3d3; background:#fff; }


#content #sidebar .menuSidebar .cats li { background:url(images/catagory-tail.gif) repeat-x;border-bottom:1px solid #d3d3d3;  }
#content #sidebar .menuSidebar .cats li:first {  }
#content #sidebar .menuSidebar .cats li:last {}

#content #sidebar .menuSidebar .cats li a {  color:#735a58;   }
#content #sidebar .menuSidebar .cats li a:hover {
	color:#EC268F;
}
#content #sidebar .menuSidebar .cats li.current-cat a {
	color:#EC268F;
}
#content #sidebar .menuSidebar .cats li.current-cat a:hover {
	color:#EC268F;
}
 

#content #sidebar .menuSidebar .cats li ul.children li a{ color:#735a58;  }



/* #sidebar */




#content #page h1 {
	color:#EC268E;
	border:1px solid #d3d3d3;
	padding:7px 20px;
	background:url(images/text-box.gif)
}
.single #content #page h1{   color:#333;border-bottom:1px solid #d3d3d3; }

#content #page h1 .qtdProdutos {  color:#333;}

#content #page .breadcrumbs { background:url(images/text-box.gif) repeat-x; border:1px solid #d3d3d3; color:#666;   }
#content #page .breadcrumbs ul li {  border-right:1px dotted #dedede; }
#content #page .breadcrumbs a { color:#999;  }
#content #page .breadcrumbs strong {  color:#999; }

#content #page .separa { border-bottom:1px solid #d3d3d3;  }


#content #page  .msgCat { ; background:#f8f8f8; border-bottom:1px solid #d3d3d3; border-top:1px solid #d3d3d3; }
#content #page  .msgCat a { color:#000; }





#content #page  .listagem { background:#fff;   }
.category #content #page  .listagem {   border:1px solid #d3d3d3;  }



#content #page .listagem .produto h4 a { color:#666;   }


#content #page .listagem .produto .price {	color:#EC268F;
}

#content #page .listagem .produto .priceDesc { color:#d3d3d3; }

/* .listagem */




#content #page .listagem_list  {  background:#fff;    border:1px solid #d3d3d3;   }

#content #page .listagem_list .produto-horiz {border-bottom:1px solid #d3d3d3; }

#content #page .listagem_list .produto-horiz  .tituloResumo { border-right:1px solid #d3d3d3;  }


#content #page .listagem_list .produto-horiz h4 a { color:#666;   }



#content #page .listagem_list .produto-horiz .price { color:#EC268F;}
#content #page .listagem_list .produto-horiz .priceDesc { color:#d3d3d3; }

/* .listagem_list */



#content #page .entry-content h3 {  color:#666;}

#content #page  h4.subtitulo { border-bottom:1px solid #d3d3d3; }




.entry-content .produtoDir h2 { color:#444c57;   }




/* #content */



#footer .containerFooter {  border:1px solid #d3d3d3; background:#f8f8f8 url(images/text-box.gif) repeat-x; }

#footer .free {  background:url(images/text-block.png) no-repeat center left; }
#footer .free span { color:#EC268F; }

#footer .separa { border-bottom:1px solid #d3d3d3; }


#footer .linksF h5 {  color:#5B5A58; }


#footer .copy {  color:#656463;  }

