﻿body { color:#999; }


a { color:#173257;  }
a:hover { color:#a2a2a2;  }


h1, h2, h3, h4, h5, h6 {
	color:#666;
}

.botao { border:1px solid #d3d3d3; color:#666; background:#fbfbfb url(2-azul/button-bg.png) repeat-x 0 -24px; }
.botao:hover { color:#fff;}

#header {    /*border:1px solid #d3d3d3;
         background:#fff;  
        -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2); */
			 }


#header  .search { float:left; background:#173257; }
#header  .search legend { color:#fff; }
#header  .search input[type="text"] {  background:#fff; }

#header  .search input[type="submit"] {  }


#header .carrinho {color:#fff; background:#7d7d7d; }


#header  .carrinho .cartEscondido {  background:#7d7d7d;}
#header  .carrinho .cartEscondido .itens {  color:#173257;  }

#header  .carrinho .cartEscondido .produtoI a{  color:#efefef; }
#header  .carrinho .cartEscondido .fecharI{ color:#173257;   }

#header  .carrinho .cartEscondido .separa { border-top:1px solid #fff; }


#header  .carrinho .cartEscondido  .inputI { background:#fff; color:#666;  }



#header .access {   border-top:1px solid #d3d3d3; background-image: linear-gradient(bottom, #EEEEEE 25%, #FFFFFF 63%);
background-image: -o-linear-gradient(bottom, #EEEEEE 25%, #FFFFFF 63%);
background-image: -moz-linear-gradient(bottom, #EEEEEE 25%, #FFFFFF 63%);
background-image: -webkit-linear-gradient(bottom, #EEEEEE 25%, #FFFFFF 63%);
background-image: -ms-linear-gradient(bottom, #EEEEEE 25%, #FFFFFF 63%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, #EEEEEE),
	color-stop(0.63, #FFFFFF)
); }


#header .access .menu li { border-right:1px solid #d3d3d3; }

#header .access .menu li:hover{  background:url(2-azul/top-menu-a.gif) repeat-x; }

#header .access .menu li a {  color:#5B5A58;  }
#header .access .menu li a:hover { color:#173257; }


#header .access .menu li#menu-item-17 {   border-left:1px solid #d3d3d3;  }
#header .access .menu li#menu-item-17  a  {    color:#173257; }


#header .access .menu li.current-menu-item  { background:url(2-azul/top-menu-a.gif) repeat-x;}

#header .access .menu li.current-menu-item   a{ color:#173257; }


#header .access .menu li ul.sub-menu  { background:#072652; }




/* #header */

#content .galeria {  border:1px solid #d3d3d3;   background:#fff;  
        -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);  }



#content #page h3.subtitulo {  background:#173257; color:#fff; }

.flex-control-paging li a.flex-active { background: #173257; }


/* .galeria */


#content #page #conteudo .produtosRecentes {background:#fff; border:1px solid #d3d3d3;  -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2); }

#content #page #conteudo .produtosRecentes .produto  {  border-right:1px solid #d3d3d3;  }


#content #page #conteudo .produtosRecentes .produto a {  color:#0c233d; }
#content #page #conteudo .produtosRecentes .produto .price { color:#173257; }

#content #page #conteudo .produtosRecentes .produto .priceDesc { color:#aaa;  }


/* #conteudo */




#content #sidebar h3 { background:#173257; color:#fff;  }


#content #sidebar .menuSidebar {  
        border:1px solid #d3d3d3;
         background:#fff;  
        -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
    } 


#content #sidebar .menuSidebar .cats li { background:url(2-azul/catagory-tail.gif) repeat-x;border-bottom:1px solid #d3d3d3;  }
#content #sidebar .menuSidebar .cats li:first {  }
#content #sidebar .menuSidebar .cats li:last {}

#content #sidebar .menuSidebar .cats li a {  color:#735a58;   }
#content #sidebar .menuSidebar .cats li a:hover {  color:#173257; }
#content #sidebar .menuSidebar .cats li.current-cat a {  color:#173257; }
#content #sidebar .menuSidebar .cats li.current-cat a:hover {  color:#173257; }
 

#content #sidebar .menuSidebar .cats li ul.children li a{ color:#735a58;  }


		
#content #sidebar .banner {  border:1px solid #d3d3d3;
background:#fff; 
-webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
		}
		
		
#content #sidebar .destaque { background:#fff; 
-webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
		}
		

/* #sidebar */




#content #page h1 {   color:#173257; border:1px solid #d3d3d3; padding:7px 20px;  }
.single #content #page h1{   color:#333;border-bottom:1px solid #d3d3d3; }

#content #page h1 .qtdProdutos {  color:#333;}

#content #page .breadcrumbs { background:url(2-azul/text-box.gif) repeat-x; border:1px solid #d3d3d3; color:#666;   }
#content #page .breadcrumbs ul li {  border-right:1px dotted #dedede; }
#content #page .breadcrumbs a { color:#999;  }
#content #page .breadcrumbs strong {  color:#999; }

#content #page .separa { border-bottom:1px solid #d3d3d3;  }


#content #page  .msgCat {  background:#f8f8f8; border-bottom:1px solid #d3d3d3; border-top:1px solid #d3d3d3; }
#content #page  .msgCat a { color:#000; }





#content #page  .listagem { background:#fff;  }
.category #content #page  .listagem {   border:1px solid #d3d3d3;  }



#content #page .listagem .produto h4 a { color:#666;   }


#content #page .listagem .produto .price { color:#173257; }

#content #page .listagem .produto .priceDesc { color:#d3d3d3; }

/* .listagem */




#content #page .listagem_list  {  background:#fff;    border:1px solid #d3d3d3;   }

#content #page .listagem_list .produto-horiz {border-bottom:1px solid #d3d3d3; }

#content #page .listagem_list .produto-horiz  .tituloResumo { border-right:1px solid #d3d3d3;  }


#content #page .listagem_list .produto-horiz h4 a { color:#666;   }



#content #page .listagem_list .produto-horiz .price { color:#173257;}
#content #page .listagem_list .produto-horiz .priceDesc { color:#d3d3d3; }

/* .listagem_list */



#content #page .entry-content h3 {  color:#666;}

#content #page  h4.subtitulo { border-bottom:1px solid #d3d3d3; }




.entry-content .produtoDir h2 { color:#444c57;   }




/* #content */



#footer .containerFooter {  border:1px solid #d3d3d3; background:#fff;
-webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
		}


#footer .free span { color:#173257; }

#footer .separa { border-bottom:1px solid #d3d3d3; }


#footer .linksF h5 {  color:#5B5A58; }


#footer .copy {  color:#656463;  }

