$shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);

body, html {
    overflow-x: hidden;
}

body {
    background-color: whitesmoke;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Ubuntu Mono', monospace;
    // font-family: 'Ubuntu', sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 900px) {
    .flex-container {
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
    }
}

.container {    
    @extend .flex-container;
}

.container-home {
    justify-content: space-between;

    .sidebar {
         margin: 4em 0 2rem;
    }
}

.wrapper-order {
    width: 100%;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #DDD;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
    .section-title {
        display: auto;margin-bottom: 0;
    }
}


.section-title {
    position: relative;
    margin-bottom: 2rem ;
    text-align: center;

    .title{
        color: #4e4d4d;
        font-size: 1rem;
        position: relative;
    }
    .title-2 {
        text-transform: uppercase;
        font-size: 1rem;
    }
}
.swiper-container {
    width: 100%;
    padding: 30px;
}
.btn-facebook {
    background-color: #2f57ab;
    height: 40px;
    color: #FFF;
    padding: 10px 35px;
    border-radius: 5px;
    border-bottom: 2px solid #2a4989;
}

.btn-login {
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.col-login {
    max-width: 380px;
    width: 380px;
    max-width: 380px;
    margin: 1rem auto;

    .form-login {
        width: 100%;

    }
    .opcoes {
        text-align: right;
    }

    .form-cadastro {
        margin-top: 1rem;

        legend {
            margin: 3rem 0;
            display: block;
            width: 100%;
            font-size: 1.3rem;
            color: #F77274;
            border-bottom: 1px solid #DDD;
            padding-bottom: 15px;
            text-transform: uppercase;
        }
    }
}

.oulogin {
    display: block;
    max-width: 295px;
    margin: 0 auto 20px;
    position: relative;
    font-size: 13px;
    width: 295px;
    text-align: center;
}
.oulogin:after,
.oulogin:before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    width: calc(50% - 24px);
    position: absolute;
    top: 50%;
    background-color: #ebe7e3;
}
.oulogin:after {
    left: 0;
}
.oulogin:before {
    right: 0;
} 

.page-cart {
    width: 100%;
}

.total-price {
    text-align: right;
}

.paragraph {
    margin-bottom: 10px;
    color: #4D4D4D;
}

.entry-content {
    width: 100%;
}

@media(max-width: 600px) {
    .section-title {
        font-size: .9rem;
    }

    .fast-search .fast-item {
        width: 100%;
        margin: 0 10px;
    }
    
    .newsletter  .input-newsletter {
        width: 170px;
    } 
    .newsletter .wrapper-newsletter {
        width: 100%!important;
    }
    .newsletter .title {
        padding: 0;
    }

    .footer-col {
        width: 100%;
        padding: 10px;
    }
}









