.product-content {
    .container{
        padding-top: 2rem;
        justify-content: space-between;
    }
    .sidebar {
        
        .detalhe {
            width: 100%;
            margin: 20px auto;
            float: left;
            border-bottom: 1px dashed #DDD;
        }
        .product-image-small {
            width: 60px;
            height: 60px;
            text-align: center;
            overflow: hidden;
            background-color: #FFF;
            float: left;
            margin-bottom: -1px;
        }

        .preco {
            width: 60%;
            font-size: 14px;
            color: #666;
            margin-left: 10px;
            float: left;
            margin-top: 6px;
            h4 {
                margin-bottom: 16px;
            }

            a {
                color: inherit;
            }
        }
        .sidebar-title {
            border-bottom: 3px solid #e8e8e8;
            padding-bottom: 15px;
            padding-top: 10px;
            color: #3a3a3a;
            font-size: 1rem;
            position: relative;
            font-weight: bold;

            &:before{
                background-color: #64cefd;
                display: inline-block;
                height: 3px;
                width: 70px;
                content: "";
                position: absolute;
                left: 0px;
                bottom: -3px;
            }
        }
    }
}


.section-product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    padding: 10px;

    .price {
        display: block;
        width: 100%;
    }

    .content-price div{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .product {
        width: 80%;
    }
    .product-image{
        width: 40%;

        .image {
            width: 100%;
        }
    }
    .product-summary{
        width: 55%;
        padding-left: 15px;
        position: relative;
    }

    .sub-title {
        text-transform: uppercase;
        color: #656464;
        margin-bottom: 15px;
        width: 100%;
    }

    .product-resume {
        margin: 1rem 0;
        font-size: .9rem;
        color: #636363;
    }
    .product-title {
        margin-bottom: 25px;
        color: #2b2b2b;
        text-transform: uppercase;
        font-size: .8rem;
    }
    
    .product-detail-price{
        margin-bottom: 1rem;
        width: 100%;
        
        .main-price-2 {
            font-size: 20px;
            color: #f14a4a;
        }
        .old-price {
            text-decoration:line-through;
            font-size: .8rem;
            color: #5d5c5c;
        }
        .main-price {
            font-size: 1.3rem;
            color: #0a5aa2;
            width: 100%;        
        }
    }
    .button-wrapper {
        width: 100%;
        margin-top: 1rem;
    }

    .parcels{
        width: 50%;
        float: left;
    }
    .amount {
        width: 100%;
        .amount-label {
            display: block;
        }
        .amount-numbers {
            width: 60px;
            padding: 10px;
            border: 1px solid #DDD;
            text-align: center;
            background-color: transparent;
            font-size: .7rem;
            height: 38px;
        }

        .quantity {
            cursor: pointer;
            width: 35px;
            padding: 10px;
            border: 1px solid #DDD;
            text-align: center;
            background-color: transparent;
            font-size: .7rem;   
        }
        .qtyminus {
            margin-right: -5px;
        }
        .qtyplus {
            margin-left: -5px;
        }
    }

    .cep {
        padding: 5px 10px;
    }

    
    .msg {
        display: block;
        margin-left: 20px;
        margin-top: 10px
    }

    .btn-purchase {
        color: #fff;
        background-color: #004b81;
        padding: 13px 25px;
        font-size: 10px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 14px -2px #080808;
        box-shadow: 0 1px 14px -2px #080808;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;
        height: 35px;
    }

    .btn-cart {
        padding: 10px;
        background-color: #004b81;
        border-radius: 50%;
        box-shadow: 0 1px 14px -2px #080808;
        margin-left: 1rem;
        color: #FFF;
        line-height: 24px;
        height: 40px;
        width: 40px;
        text-align: center;
    }

    .tags {
        letter-spacing: 1px;
        font-size: .8rem;
        margin-bottom:20px;
        .tag {
            font-weight: bold;
            color: #232323;
        }
        a {
            color: #3baddc;
            text-transform: capitalize; 
        }
    }
    
    .size {
        position: relative;
        width: 35px;
        height: 30px;
        padding: 10px;
        line-height: 12px;
        font-size: .9rem;
        color: #7b7b7b;
        display: inline-block;
        box-shadow: 1px 1px 5px -1px #7E7E7E;
    }
    .colors {
        margin-bottom: 1.5rem;
        .color-item {
            &:not(:last-child) {
                margin-right: 1rem;   
            }
            width: 15px;
            height: 15px;
            border: 0;
            display: inline-block;
            text-indent: -9999px;
            cursor: pointer;
            border-radius: 50%;
        }
        .color-item.ativo {
            will-change: transform;
            transform: scale(1.4);
            border-radius: 50%;
            transition: all 0.4ms ease-in;
        }
    }
    .product-detail-price {
        order: 1;
    }
    .colors {
        order: 2;
        width: 100%;
    }
    .amount {
        order:3;
    }
    .choise-size {
        order: 4;
        width: 50%;
    }
    .parcels {
        order: 5;
        width: 50%;
    }
    .button-wrapper {
        order: 6;
    }
    .meios {
        order: 7;
    }
    .alert-entrega,
    .alert {
        background-color:red;
        display: none;
    }
}
.share-title {
    vertical-align: middle;
    color: #757575;
    line-height: 25px;
    font-size: 13px;
    letter-spacing: 1px;
}
.share {
    padding: 20px 10px;
    margin-top: 2rem;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    padding: 10px 5px;
    .share-list {
        display: inline-block;
        color: #FFF;
        padding: 5px 7px;
        border-radius: 4px;
        vertical-align: middle;
        margin: 0 5px;
        height: 25px;
        width: 30px;
        text-align: center;
        line-height: 14px;
    }

    .facebook {
        background-color: #3b5998;
    }
    .twitter {
        background-color: #00aced;
    }
    .googleplus {
        background-color: #dd4b39;
    }
    .whatsapp {
        background-color: #00bf8f;
    }
}

.related-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;

    .image {
        width: 100%;
    }
    .product {
        width: 22%;
        border-radius: 8px;
        border: 1px solid #DDD;
        overflow: hidden;
        background-color: #FFF;
    }

    .price-wrapper {
        width: 100%;

        .price {
            width: 49%;
            display: inline-block;
            margin: 0;
            padding: 10px;
        }      
        .btn-submit {
            display: block;
            height: 35px;
            border-radius: 3px 3px 4px 4px;
            background: #fff;
            border: 1px solid #e4e1df;
            border-bottom-width: 3px;
            color: #f77274;
            line-height: 35px;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: 600;
            text-transform: uppercase;
            max-width: 110px;
            margin-top: 15px;
            cursor: pointer;
            margin-left: auto;
            width: 100%;
            text-align: center;
        }
    }

    .description {
        padding: 10px;
        text-align: center;
    }
    .product-title {
        color: #6b6a6a;
        font-size: 1rem;
        font-weight: 700;
        margin: 10px 0;
        a {
            color: inherit;
        }
    }

    .price {
        color: #546988;
        font-size: 0.9em;
        margin: 10px;
    }
}
.related-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.related-title {
    text-align: center;
    font-size: 1.6rem;
    margin: 2rem 0;
    color: #6f6b6b;
    width: 100%;
}

.editLink {
    position: absolute;
    right: 0;
    top: -20px;
    color: #DDD;
    .post-edit-link {
        color: inherit
    }
}

@media(max-width: 600px )  {
    .button {
        margin-left: 0;
        margin-top: 10px;
    }
    .share-title {
    display: block;
    }
    .section-product-detail {
      width: 100%;
      
      .product-image {
        width: 300px;
        margin: 0 auto;
      }

      .product-summary {
        width: 100%;
      }
    }

    .sidebar  {
        width: 100%;
        display: none;
    }
}

.calcularFrete {
    .endereco {
        display: none;
    }
    .retorno {
        margin-top: 10px;
    }
    .prazoEntrega {
        width: 100%;
        margin-left: 33px;
        margin-top: 5px;
        margin-bottom: 10px; 
    }
    .reduzir {
        margin-left: 10px;
    }
}

@media(min-width: 600px ) {
    .whatsapp {
        display: none;
    }

}

@media(max-width: 1015px ) {
    .section-product-detail {
        width: 100%;
    }
}








