* {
	box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
}

a img {
  border: none;
}

a {
	text-decoration: none;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, address, code,
del, img, s, samp,ul, li, fieldset, form, label, legend,
table, caption {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
li, ul {
	list-style: none;
}

del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}