
/* .inicia variacoes */
.entry-content .variacoes { margin:0 20px; font-size:1.2em; }

.entry-content .variacoes span { display:block; margin:10px 0 5px 0;}

.entry-content .variacoes .cores li { position:relative;border:2px solid #f7f7f7; width:25px; height:25px; cursor:pointer; float:left; margin-right:10px; }
.entry-content .variacoes .cores li:hover { border:2px solid #222; }
.entry-content .variacoes .cores .ativo { border:2px solid #222; }

.entry-content .variacoes .cores li.vermelho { background:red; } 
.entry-content .variacoes .cores li.azul { background:blue; }
.entry-content .variacoes .cores li.amarelo { background:yellow; }
.entry-content .variacoes .cores li.verde { background:green; }
.entry-content .variacoes .cores li.laranja { background:orange; }


.entry-content .variacoes .tamanhos li { position:relative; cursor:pointer; border:1px solid #bbb; float:left; margin-right:10px; padding:5px 10px; background:#fff; }
.entry-content .variacoes .tamanhos li:hover { border:1px solid #333; background:#efefef; }

.entry-content .variacoes .tamanhos .ativo { border:1px solid #333; background:#efefef; }

.entry-content .variacoes span.esgotado { position:absolute; width:12px; height:13px; background:url(images/fechar-imagem.png) no-repeat; bottom:-10px; right:-5px; }
/* .termina variacoes */
